<html>
<head>
<title>Ti Launchpad XL - Expansion Board</title>
</head>
<body>
<h1>Launchpad XL</h1>
<h2>Expansion Board</h2>
This project template is the basis of an expansion board for the
<a href="http://processors.wiki.ti.com/index.php/BoosterPack_Design_Guide" target="blank">TI Launchpad
board.</a>
<br><br>
This Board conforms to the 40 pin Launchpad Standard, using the minimum size.
<br><br>
The board outline looks like the following:
<br>
<img src="launchpad_standard40.png" alt="40 Pin Launchpad">
<br>
(c)2012 Brian Sidebotham<br>
(c)2012 Henry von Tresckow<br>
(c)2012 Kicad Developers<br>
</body>
</html>
