boost_root
.downloads-by-cmake
Build
build
auto_renamed_to_cpp
Testing
install_manifest.txt
Documentation/doxygen
Documentation/development/doxygen
*.bak
.*.swp
*.~*
new/html
bitmaps_png/png*
bitmaps_png/tmp

