{
  "version": 3,
  "configurePresets": [
    {
      "name": "base",
      "hidden": true,
      "generator": "Ninja",
      "binaryDir": "${sourceDir}/build",
      "toolchainFile": "$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Windows"
      },
      "cacheVariables": {
        "KICAD_BUILD_QA_TESTS": "OFF",
        "KICAD_BUILD_I18N": "ON",
        "KICAD_SCRIPTING_WXPYTHON": "ON"
      }
    },
    {
      "name": "win64",
      "hidden": true,
      "cacheVariables": {
        "KICAD_WIN32_DPI_AWARE": "ON",
        "CMAKE_INSTALL_PREFIX": "out",
        "CMAKE_PDB_OUTPUT_DIRECTORY": "out/pdb"
      },
      "architecture": {
        "value": "x64",
        "strategy": "external"
      },
      "inherits": [
        "base"
      ]
    },
    {
      "name": "x64-debug",
      "displayName": "x64 Debug",
      "description": "Sets debug build type and x64 arch",
      "inherits": "win64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "x64-release",
      "displayName": "x64 Release",
      "description": "Sets release build type",
      "inherits": "win64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    }
  ]
}