{
  "version": 9,
  "configurePresets": [
    {
      "name": "msvc",
      "hidden": true,
      "generator": "Ninja", 
      "binaryDir": "${sourceDir}/build/${presetName}",
      "installDir": "${sourceDir}/build/install/${presetName}",
      "toolchainFile": "$env{VCPKG_ROOT}/scripts/buildsystems/vcpkg.cmake",
      "environment": {
        "VCPKG_ROOT": "E:/vcpkg2/"
      },
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Windows"
      },
      "cacheVariables": {
        "KICAD_BUILD_QA_TESTS": "ON",
        "KICAD_SCRIPTING_WXPYTHON": "ON",
        "KICAD_WIN32_DPI_AWARE": "ON"
      },
      "vendor": {
        "microsoft.com/VisualStudioSettings/CMake/1.0": {
          "hostOS": "Windows"
        }
      }
    },
    {
      "name": "msvc-win64",
      "hidden": true,
      "architecture": {
        "value": "x64",
        "strategy": "external"
      },
      "inherits": [
        "msvc"
      ]
    },
    {
      "name": "msvc-winarm64",
      "hidden": true,
      "architecture": {
        "value": "arm64",
        "strategy": "external"
      },
      "inherits": [
        "msvc"
      ]
    },
    {
      "name": "msvc-win64-debug",
      "displayName": "Win64 Debug",
      "description": "Sets debug build type and x64 arch",
      "inherits": "msvc-win64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug",
        "KICAD_BUILD_PNS_DEBUG_TOOL": "ON"
      }
    },
    {
      "name": "msvc-win64-release",
      "displayName": "Win64 Release",
      "description": "Sets release build type",
      "inherits": "msvc-win64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    },
    {
      "name": "msvc-winarm64-debug",
      "displayName": "arm64 Debug",
      "description": "Sets debug build type and arm64 arch",
      "inherits": "msvc-winarm64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "Debug"
      }
    },
    {
      "name": "msvc-winarm64-release",
      "displayName": "arm64 Release",
      "description": "Sets debug build type and x64 arch",
      "inherits": "msvc-winarm64",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    },
    {
      "name": "linux-base",
      "generator": "Ninja", 
      "hidden": true,
      "binaryDir": "${sourceDir}/build/${presetName}",
      "installDir": "${sourceDir}/build/install/${presetName}",
      "condition": {
        "type": "equals",
        "lhs": "${hostSystemName}",
        "rhs": "Linux"
      }
    },
    {
      "name": "linux-debug",
      "displayName": "Linux Debug",
      "description": "Sets debug build type and x64 arch",
        "inherits": "linux-base",
        "cacheVariables": {
          "CMAKE_BUILD_TYPE": "Debug"
        }
    },
    {
      "name": "linux-release",
      "displayName": "Linux Release",
      "description": "Sets release build type",
      "inherits": "linux-base",
      "cacheVariables": {
        "CMAKE_BUILD_TYPE": "RelWithDebInfo"
      }
    }
  ],
  "buildPresets": [
    {
      "name": "win64-debug",
      "displayName": "x64 Debug (Windows)",
      "configurePreset": "msvc-win64-debug"
    },
    {
      "name": "win64-release",
      "displayName": "x64 Release (Windows)",
      "configurePreset": "msvc-win64-release"
    },
    {
      "name": "winarm64-debug",
      "displayName": "arm64 Debug (Windows)",
      "configurePreset": "msvc-winarm64-debug"
    },
    {
      "name": "winarm64-release",
      "displayName": "arm64 Debug (Windows)",
      "configurePreset": "msvc-winarm64-release"
    },
    {
      "name": "linux-debug",
      "displayName": "Debug (Linux)",
      "configurePreset": "linux-base"
    },
    {
      "name": "linux-release",
      "displayName": "Release (Linux)",
      "configurePreset": "linux-base"
    }
  ],
  "testPresets": [
    {
      "name": "test-base",
      "environment": {
        "KICAD_RUN_FROM_BUILD_DIR": "1"
      },
      "execution": {
        "noTestsAction": "error",
        "stopOnFailure": true
      }
    },
    {
      "name": "win64-release",
      "configurePreset": "msvc-win64-release",
      "inherits": "test-base"
    },
    {
      "name": "win64-debug",
      "configurePreset": "msvc-win64-debug",
      "inherits": "test-base"
    },
    {
      "name": "linux-release",
      "configurePreset": "linux-release",
      "inherits": "test-base"
    },
    {
      "name": "linux-debug",
      "configurePreset": "linux-debug",
      "inherits": "test-base"
    }
  ]
}