{
  "environments": [
    {
      "BuildDir": "${workspaceRoot}\\build",
      "InstallDir": "${workspaceRoot}\\build\\install"
    },
    {
      "environment": "vcpkg",
      "VcPkgDir": "D:/vcpkg/",
      "VCPKG_BINARY_SOURCES": "nuget,kicad-gitlab,read"
    },
    {
      "environment": "swig",
      "SwigExePath": "D:/swigwin-4.1.1/swig.exe"
    }
  ],
  "configurations": [
    {
      "name": "x64-Debug",
      "generator": "Ninja",
      "configurationType": "Debug",
      "inheritEnvironments": [ "msvc_x64_x64", "vcpkg", "swig"],
      "buildRoot": "${env.BuildDir}\\${name}",
      "installRoot": "${env.InstallDir}\\${name}",
      "cmakeCommandArgs": "",
      "buildCommandArgs": "-v",
      "ctestCommandArgs": "",
      "variables": [
        {
          "name": "KICAD_BUILD_QA_TESTS",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "KICAD_WIN32_DPI_AWARE",
          "value": "ON",
          "type": "BOOL"
        },
        {
          "name": "SWIG_EXECUTABLE",
          "value": "${env.SwigExePath}",
          "type": "STRING"
        },
        {
          "name": "VCPKG_OVERLAY_TRIPLETS",
          "value": "${workspaceRoot}/tools/custom_vcpkg_triplets",
          "type": "STRING"
        },
        {
          "name": "VCPKG_INSTALL_OPTIONS",
          "value": "--x-abi-tools-use-exact-versions",
          "type": "STRING"
        }
      ],
      "cmakeToolchain": "${env.VcPkgDir}/scripts/buildsystems/vcpkg.cmake"
    },
    {
      "name": "x64-Release",
      "generator": "Ninja",
      "configurationType": "RelWithDebInfo",
      "inheritEnvironments": [ "msvc_x64_x64", "vcpkg", "swig"],
      "buildRoot": "${env.BuildDir}\\${name}",
      "installRoot": "${env.InstallDir}\\${name}",
      "cmakeCommandArgs": "",
      "buildCommandArgs": "-v",
      "ctestCommandArgs": "",
      "variables": [
        {
          "name": "KICAD_BUILD_QA_TESTS",
          "value": "False",
          "type": "BOOL"
        },
        {
          "name": "KICAD_WIN32_DPI_AWARE",
          "value": "ON",
          "type": "BOOL"
        },
        {
          "name": "SWIG_EXECUTABLE",
          "value": "${env.SwigExePath}",
          "type": "STRING"
        },
        {
          "name": "VCPKG_OVERLAY_TRIPLETS",
          "value": "${workspaceRoot}/tools/custom_vcpkg_triplets",
          "type": "STRING"
        },
        {
          "name": "VCPKG_INSTALL_OPTIONS",
          "value": "--x-abi-tools-use-exact-versions",
          "type": "STRING"
        }
      ],
      "cmakeToolchain": "${env.VcPkgDir}/scripts/buildsystems/vcpkg.cmake"
    }
  ]
}
