# This is the Bazaar "rules" file for KiCad Developers.
# http://doc.bazaar.canonical.com/beta/en/user-reference/eol-help.html

# To put it into use, you must _copy_ it to your BZR_HOME directory, where BZR_HOME
# varies by platform.  In that target directory, described in more detail below,
# simply make sure this file has the name "rules", but without quotes.

# platform   BZR_RULES dir and rules filename
#---------   --------------------------------
# linux      ~/.bazaar/rules
# WinXP      C:\Documents and Settings\<username>\Application Data\Bazaar\2.0\rules
# Win7       C:\Users\<username>\AppData\Roaming\bazaar\2.0\rules


# the actual rules:

[name *.png]
eol = exact

[name *.pdf]
eol = exact

[name *.sh]
eol = lf

[name *]
eol = native
