<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>			    <string>Editor</string>
                <key>CFBundleTypeIconFile</key>		    <string>kicad_doc.icns</string>
                <key>CFBundleTypeExtensions</key>	    <array>
                                                            <string>pro</string>
                                                        </array>
                <key>CFBundleTypeName</key>			    <string>kicad project files</string>
                <key>LSHandlerRank</key>                <string>Owner</string>
            </dict>
        </array>
    <key>CFBundleDevelopmentRegion</key>            <string>English</string>
    <key>CFBundleExecutable</key>	                <string>kicad</string>
    <key>CFBundleGetInfoString</key>                <string></string>
    <key>CFBundleIconFile</key>	                    <string>kicad.icns</string>
    <key>CFBundleIdentifier</key>	                <string>org.kicad-eda.kicad</string>
    <key>CFBundleInfoDictionaryVersion</key>        <string>6.0</string>
    <key>CFBundleLongVersionString</key>	        <string></string>
    <key>CFBundleName</key>	                        <string>KiCad</string>
    <key>CFBundlePackageType</key>	                <string>APPL</string>
    <key>CFBundleShortVersionString</key>	        <string></string>
    <key>CFBundleSignature</key>                    <string>????</string>
    <key>CFBundleVersion</key>	                    <string></string>
    <key>CSResourcesFileMapped</key>	            <true/>
    <key>LSRequiresCarbon</key>	                    <true/>
    <key>NSHumanReadableCopyright</key>	            <string></string>
    <key>NSHighResolutionCapable</key>              <string>True</string>
    <key>LSEnvironment</key>
        <dict>
            <key>KIGITHUB</key>     <string>https://github.com/kicad</string>
        </dict>
</dict>
</plist>
