<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>cvpcb</string>
	<key>CFBundleExecutable</key>
	<string>cvpcb</string>
	<key>CFBundleIconFile</key>
	<string>cvpcb.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.kicad-eda.cvpcb</string>
	<key>CFBundleName</key>
	<string>Cvpcb</string>
	<key>LSRequiresCarbon</key>
	<true/>
</dict>
</plist>
