#ifdef USE_PNG_BITMAPS
icon_bitmap2component ICON "../bitmaps_png/icons/icon_bitmap2component.ico"
#else
icon_bitmap2component ICON "../bitmaps_xpm/icons/icon_bitmap2component.ico"
#endif

#include "wx/msw/wx.rc"
