[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=KiCad - PCBnew
GenericName[en]=KiCad - PCB Designer
Comment[en]=Electrical schematic and PCB design suite
MimeType=text/pro;
Exec=pcbnew
Icon=kicad_pcbnew
Type=Application
Terminal=false
Categories=Scientific;Development
