#define INCLUDE_KICAD_VERSION
#include <kicad_build_version.h>

#if KICAD_IS_NIGHTLY
icon_kicad ICON "../resources/bitmaps_png/icons/icon_kicad_nightly.ico"
#else
icon_kicad ICON "../resources/bitmaps_png/icons/icon_kicad.ico"
#endif

#define RC_VER_FILE_DESCRIPTION "KiCad EDA " KICAD_WIN32_RC_PRODVER_STR
#define RC_VER_INTERNALNAME "kicad"
#define RC_VER_ORIGINALFILENAME "kicad.exe"
#include "kiwin32.rc"
