<html>
<head>
<title>STM32 Discovery</title>
</head>
<body>
<h1>STM32 Value Line Discovery - STM32F100 Cortex-M3&trade; Microcontroller Board</h1>
<h2>Expansion Board</h2>
This project is a template of an expansion board for the
<a href="http://www.st.com/stm32-discovery/" target="blank">STM32 Value Line Discovery
</a> board.
<br><br>
This project includes a PCB edge defined as the same size as the STM32F100 Discovery
board with the connectors placed correctly to align the two boards. All IO present on the
Discovery board is connected to the project through 0.1" expansion headers.
<br><br>
<P ALIGN=CENTER><IMG SRC="board_stm32vl_discovery.png" NAME="brd" ALIGN=BOTTOM
BORDER=0><BR><BR><BR><BR>
</P>
(c)2012 Kerusey Karyu<br>
</body>
</html>
