[Desktop Entry]
Categories=Development;Electronics;
Comment=Create a component from a bitmap for use with KiCad
Exec=bitmap2component
GenericName=EDA Suite
Icon=bitmap2component
MimeType=application/x-bitmap2component-project;
Name=Bitmap to Component Converter
Type=Application
Name[en_US]=Bitmap to Component Converter
