[Desktop Entry]
Version=1.0
Terminal=false
Icon=bitmap2component
Type=Application
Categories=Development;Electronics;
Exec=bitmap2component
Name=Bitmap to Component Converter
GenericName=Bitmap to Component Converter
GenericName[it]=Convertitore da bitmap a componente
GenericName[zh_CN]=位图到元件转换器
Comment=Create a component from a bitmap for use with KiCad
Comment[it]=Crea un componente KiCad da un'immagine bitmap
Comment[zh_CN]=从位图创建用于 KiCad 的元件
