[Desktop Entry]
Categories=Development;Electronics;
Comment=Assign footprints to symbols (part of KiCad)
Exec=cvpcb
GenericName=EDA Suite
Icon=cvpcb
MimeType=application/x-cvpcb-project;
Name=CvPcb
Type=Application
Name[en_US]=CvPcb
