[Desktop Entry]
Version=1.0
Terminal=false
Icon=gerbview
Type=Application
Categories=Development;Electronics;
Exec=gerbview
MimeType=application/x-gerber;application/x-excellon
Name=GerbView
GenericName=Gerber File Viewer
GenericName[it]=Visualizzatore file Gerber
Comment=View Gerber files
Comment[it]=Visualizza file in formato Gerber