[Desktop Entry]
Categories=Development;Electronics;
Comment=View gerber files
Exec=gerbview
GenericName=EDA Suite
Icon=gerbview
MimeType=application/x-gerbview-project;
Name=GerbView
Type=Application
Name[en_US]=GerbView
