[Desktop Entry]
Categories=Development;Electronics;
Comment=Design a printed circuit board
Comment[fr]=Concevoir un circuit imprimé
Exec=kicad %f
GenericName=EDA Suite
GenericName[fr]=Suite logicielle de conception électronique
Icon=kicad
MimeType=application/x-kicad-project;
Name=KiCad
Type=Application
