[Desktop Entry]
Version=1.0
Terminal=false
Icon=kicad
Type=Application
Categories=Development;Electronics;
Exec=kicad %f
MimeType=application/x-kicad-project;
Name=KiCad
GenericName=EDA Suite
GenericName[it]=CAD elettronico
GenericName[zh_CN]=EDA 工具箱
Comment=Electronic Design Automation suite
Comment[fr]=Suite logicielle de conception électronique
Comment[it]=Suite di progettazione circuiti elettronici
Comment[zh_CN]=电子设计自动化工具箱
X-Desktop-File-Install-Version=0.22
