[Desktop Entry]
Categories=Development;Electronics;
Comment=Calculator for various electronics related computations
Exec=pcb_calculator
GenericName=EDA Suite
Icon=pcbcalculator
MimeType=application/x-pcbcalculator-project;
Name=Pcb Calculator
Type=Application
Name[en_US]=Pcb Calculator
