
[Desktop Entry]
Categories=Development;Electronics
Comment=Design a printed circuit board
Exec=pcb_calculator
GenericName=EDA Suite
Icon=pcbcalculator
MimeType=application/x-pcbcalculator-project;
Name=pcbcalculator
Type=Application
Name[en_US]=pcbcalculator
