[Desktop Entry]
Version=1.0
Terminal=false
Icon=pcbnew
Type=Application
Categories=Development;Electronics;
Exec=pcbnew %f
MimeType=application/x-kicad-pcb;
Name=Pcbnew (Standalone)
GenericName=PCB layout
GenericName[it]=Disegno PCB
Comment=KiCad printed circuit board layout (standalone)
Comment[it]=Disegno di circuiti stampati con KiCad (standalone)
