[Desktop Entry]
Categories=Development;Electronics;
Comment=Layout a printed circuit board
Exec=pcbnew %f
GenericName=EDA Suite
Icon=pcbnew
MimeType=application/x-pcbnew-pcb;
Name=Pcbnew
Type=Application
Name[en_US]=Pcbnew
